.wrapper-masthead {
  border-bottom: 1px solid lighten($action-color, 25%);
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  background: #FFF;
  z-index: 2;
}

.masthead {
  text-align: center;

  @include mobile {
    text-align: center;
  }
}
header > a {
  color: inherit;
  transition: .3s all ease;
  text-decoration: none;
  border-bottom: none;
  &:hover,
  &:active {
    background: none;
    .site-name {
      //background: $blue-bg;
      color: $action-color;
      > .first-name {
        //color: $white;
      }
    }
  }
}

.site-name {
  transition: .3s color cubic-bezier(.28,.07,.03,.67);
  vertical-align: top;
  display: inline-block;
  
  margin: 0;
  
  line-height: 80px;
  height: 70px;
  
  color: $action-color;
  padding: 0 10px;

  letter-spacing: 1px;
  font-family: $font;
  font-size: 4em;
  font-weight: bold;
  
  @include mobile {
    display: block;
    margin: 0 auto;
    height: auto;
  }
  > .first-name {
    //transition: .3s color cubic-bezier(.28,.07,.03,.67);
  }
}