#logo {
    > #sb,
    > #sh {
        fill-rule: evenodd;
    }
    > #sb {
        fill: #00796B;
    }

    > #sh {
        fill: #E0F2F1;
    }

    > #ss {
        fill: #004D40;
    }
}

.site-avatar {
    display: inline-block;
    width: 30px;
    height: 28.745px;
    vertical-align: middle;
    border-bottom: none; 
  &:hover {
    background: none;
  }

  img {
    height: 28.745px;
  }
}