
//
// VARIABLES
//

// Colors
$blue:                  #4183C4;
$text-color:            #17181d;
$background-color:      #fafcfc;
$action-color:          #67a492;
$alt-action-color:      #8167ad;
$alt-background-color:  lighten($text-color, 10%);
$gray:                  lighten($text-color, 30%);
$black:                 #333;
$white:                 #fff;
// Blues
$cyan-bg:               #0f3a33;
$cyan-sh:               #67a492;
$cyan-light:            #f3fffc;

$transparent: rgba(white, 0);

// Font stacks
$font:      "Roboto", sans-serif;
$font-cs:   "Open Sans Condensed", sans-serif;

$base-font-size:  18px;
$small-font-size: $base-font-size * 0.875;

$unit: 30px;