---
layout: default
---

<div class="wrapper-masthead">
  <header class="masthead clearfix">
      <!-- Pagination links -->
      <div class="pagination">
        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <span class="pagination-page">{{ page }}</span>
          {% elsif page == 1 %}
            <a class="pagination-page" href="{{ site.baseurl }}/">{{ page }}</a>
          {% else %}
            <a class="pagination-page" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
          {% endif %}
        {% endfor %}
      </div>
  </header>
</div>

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="post-date">
        {{ post.date | date: "%m.%e.%y" }}
      </div>
      {% include post-tags.html %}

      <div class="entry">
        <p>
          {{ post.excerpt | strip_html }}
        </p>
      </div>
      <div class="post-footer">
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Читать далее</a>
      </div>
    </article>
  {% endfor %}
</div>