<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }} /script.js"></script>

    {% if page.cover %}
      <meta property="og:image" content="{{ site.baseurl }}/images/covers/{{ page.cover }}" />
      <meta property="og:image:type" content="image/png">
    {% endif %}
  </head>

  <body>
    <div class="wrapper-masthead">
      <header class="masthead clearfix">
          <!-- Pagination links -->
          <div class="pagination">
            <a href="{{ site.baseurl }}/" class="site-avatar">
              <svg width="28.745px" height="30px"  id="logo" xmlns="http://www.w3.org/2000/svg" version="1.2" baseProfile="tiny" viewBox="0 0 574.8 600" overflow="scroll">
                <path id="sb" d="M0 0h574.8v600H0z"/>
                <path id="sh" d="M93.5 504.8h390.7v-409h-78.1v329.9H328V299.8h-78.1v125.9h-78.2V95.8H93.5v409zM328 95.8v125.9h-78.1V95.8H328z"/>
              </svg>
            </a>
            {% for page in (2..paginator.total_pages) %}
              {% if page == paginator.page %}
                <span class="pagination-page">{{ page }}</span>
              {% elsif page == 1 %}
                <a class="pagination-page" href="{{ site.baseurl }}/">{{ page }}</a>
              {% else %}
                <a class="pagination-page" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
              {% endif %}
            {% endfor %}
          </div>
      </header>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
